<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body th:style="'background: url(/images/mpiwnicki_sky.jpg)
 no-repeat center center fixed;'">
<div class="container">
    <h1>An error has occurred...</h1>
    <img th:src="@{\images\error-icon.jpg}"
         width="100px" height="100px"/>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'The status code is ' + status
       + ', which means that the page was ' + error + '.'}"></p>
    <p th:text="${'Further details: ' + message + '.'}"></p>
    <a class="btn" href="/">Back to home</a>
</div>
</body>
</html>