<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nintendo DS Game Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    <h2>Game Details</h2>

<!--    <dl>-->
<!--        <dt>Title:</dt>-->
<!--        <dd th:text="${game.title}"></dd>-->

<!--        <dt>Developer:</dt>-->
<!--        <dd th:text="${game.developer}"></dd>-->

<!--        <dt>Publisher:</dt>-->
<!--        <dd th:text="${game.publisher}"></dd>-->

<!--        <dt>First Released:</dt>-->
<!--        <dd th:text="${game.firstReleased}"></dd>-->
<!--    </dl>-->
    <header>
        <h1 th:text="${game.title}"></h1>

        <img th:if="${game.coverUrl != null}" th:src="${game.coverUrl}" alt="Game Cover">
        <img th:if="${game.coverUrl == null}" th:src="@{/images/error-icon.jpg}" alt="Error Icon" style="width: 250px; height: 250px;">

        <p>Developer: <span th:text="${game.developer}"></span></p>
        <p>Publisher: <span th:text="${game.publisher}"></span></p>
        <p>First Released: <span th:text="${#dates.format(game.firstReleased, 'dd MMMM yyyy')}"></span></p>
        <p>Available in:</p>
        <ul>
            <li th:if="${game.JP}">Japan</li>
            <li th:if="${game.NA}">North America</li>
            <li th:if="${game.EU}">Europe</li>
            <li th:if="${game.AU}">Australia</li>
        </ul>
    </header>

<!--    <section class="image-section">-->
<!--        <img th:src="${game.imageUrl}" alt="Game Cover">-->
<!--    </section>-->

    <footer>
        <p>&copy; 2024 Nintendo DS Games. All rights reserved.</p>
    </footer>

</div>
</body>
</html>
